{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div class="container p-5">
    <div class="row">
        <div class="col-12">
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-3 rounded">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-3">
            {% if (app.user) %}
                <p><a href="{{ path('user') }}">Informations</a></p>
                <p><a href="#">Commandes</a></p>
                <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
            {% else %}
                <p><a href="{{ path('app_login') }}">Se connecter</a></p>
            {% endif %}
        </div>
        <div class="col-9">
            
            {% if items | length > 0 %}
                
                <h2 class="p-3">Votre panier</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.article.artNom }}</td>
                                <td>{{ item.article.prix }} €</td>
                                <td>{{ item.quantite }}</td>
                                <td>{{ item.quantite * item.article.prix }} €</td>
                                <td>
                                    <a href="{{ path('panier_remove', {'id':item.article.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right" colspan="3">Total : </td>
                            <td>{{ total }} €</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-12 text-right p-3">
                    <a href="{{ path('carte') }}"><button class="btn btn-secondary">Continuer mes achats</button></a>
                    <a href="#"><button class="btn btn-primary">Passer commande</button></a>
                </div>
            {% else %}
                <h2 class="p-3">Votre panier est vide</h2>
                <div class="text-center">
                    <a href="{{ path('carte') }}" class="btn btn-secondary text-right">Retour</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
