{% extends 'registration/register.html.twig' %}

{% block title %}Connexion{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block body %}

    <main class="container-fluid p-5">
        <div class="col-4 offset-4">

            <h2 class="text-center">Connexion</h2>

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="badge badge-danger">déconnexion</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>

                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Connexion</button>
                </div>

            </form>

            <div class="dropdown-divider my-3"></div>
            
            <p class="text-center">Pas encore inscrit ? <a href="{{ path('app_register') }} " class="badge badge-success">Créez votre compte !</a></p>

        </div>
    </main>

{% endblock %}
