{% extends 'baseAdmin.html.twig' %}

{% block title %}Produit - formulaire{% endblock title %}

{% block body %}

    <h2 class="pb-5">Formulaire - Produit</h2>

    {{ form_start(articleForm) }}

        <div class="row">

            <div class="col-6 my-3">
                {{ form_label(articleForm.artNom) }}
                {{ form_widget(articleForm.artNom) }}
            </div>
            
            <div class="col-6 my-3">
                {{ form_label(articleForm.descri) }}
                {{ form_widget(articleForm.descri) }}
            </div>

            <div class="col-6 my-3">
                {{ form_label(articleForm.photo ) }}
                {{ form_widget(articleForm.photo ) }}
                {{ form_help(articleForm.photo) }}
            </div>

            <div class="col-6 my-3">
                {{ form_label(articleForm.prix ) }}
                {{ form_widget(articleForm.prix ) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(articleForm.cat1 ) }}
                {{ form_widget(articleForm.cat1 ) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(articleForm.cat2 ) }}
                {{ form_widget(articleForm.cat2 ) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(articleForm.cat3 ) }}
                {{ form_widget(articleForm.cat3 ) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(articleForm.top ) }}
                {{ form_widget(articleForm.top ) }}
            </div>

            <div class="col-12 text-center">
                {{ form_widget(articleForm.valider )}}
            </div>

        </div>

    {{ form_end(articleForm) }}

{% endblock %}