{% extends 'baseAdmin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <h2>Liste des utilisateurs</h2>

    <table class="table table-bordered table-hover table-sm table-dark table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(' + ')|lower }}</td>
                    <td class="align-middle">
                        <a href="#"><i class="fas fa-pen-square"></i></a>
                        {# <a href="{{ path('user_delete', {'id':user.id}) }}"><i class="fas fa-trash-alt"></i></a> #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# <div class="text-right">
        <a href="{{ path('user_create') }}" class="btn btn-outline-dark">Ajouter un utilisateur</a>
    </div> #}

{% endblock %}

