{% extends 'baseAdmin.html.twig' %}

{% block title %}Utilisateur - formulaire{% endblock title %}

{% block body %}

    <h2 class="pb-5">{{ user.email }}</h2>

    {{ form_start(userAdminForm) }}

        <div class="row">

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.civilite) }}
                {{ form_widget(userAdminForm.civilite) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.nom) }}
                {{ form_widget(userAdminForm.nom) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.prenom) }}
                {{ form_widget(userAdminForm.prenom) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.phone) }}
                {{ form_widget(userAdminForm.phone) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.email) }}
                {{ form_widget(userAdminForm.email) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.plainPassword) }}
                {{ form_widget(userAdminForm.plainPassword) }}
            </div>

            <div class="col-4 my-3">
                {{ form_label(userAdminForm.roles) }}
                {{ form_widget(userAdminForm.roles) }}
            </div>

            <div class="col-12 text-center">
                {{ form_widget(userAdminForm.valider )}}
            </div>

        </div>

    {{ form_end(userAdminForm) }}

{% endblock %}