{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

{% set categ1 = app.request.query.get("categ1")  %}
{% set categ2 = app.request.query.get("categ2")  %}
<header>
    <div class="col-12 text-center">
        <h2>
            Nos
            {% if categ1 is empty %}
                {% if categ2 is empty %}
                    plats
                {% else %}
                    {{ categ2 }}
                {% endif %}
            {% else %}
                {{ categ1 }}
            {% endif %}    
        </h2>
    </div>
</header>

<main class="p-xs-0 p-md-5">
    <div class="row" id="page_carte">

        <!-- Liste des catégories version PC -->
        <div class="sidebar_pc col-md-3">
            <button class="dropdown-btn">Nos plats<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catPlats %}
                    <a href="?categ2={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
                <a href="?categ1=plats">Tous nos plats</a>
            </div>            
              <button class="dropdown-btn">Nos menus<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catMenus %}
                    <a href="?categ2={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
                <a href="?categ1=plats">Tous nos menus</a>
            </div>
            <hr>
            <button class="dropdown-btn">Accompagnements<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catAccompagnements %}
                    <a href="?categ2={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
                <a href="?categ1=plats">Tous nos accompagnements</a>
            </div>            
              <button class="dropdown-btn">Boissons<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catBoissons %}
                    <a href="?categ2={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
                <a href="?categ1=plats">Toutes nos boissons</a>
            </div>
            <hr>
            <button class="dropdown-btn">Desserts<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catDesserts %}
                    <a href="?categ2={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
                <a href="?categ1=plats">Tous nos desserts</a>
            </div>
        </div> 

        <!-- Liste des catégories version mobile -->
        <div class="sidebar_mobile">
            <ul>
               <li><a href="?categ1=plats">Plats</a></li>
               <li><a href="?categ1=menus">Menus</a></li>
               <li><a href="?categ1=accompagnements">Accompagnements</a></li>
               <li><a href="?categ1=boissons">Boissons</a></li>
               <li><a href="?categ1=desserts">Desserts</a></li>
            </ul>
        </div>

        <div class="big_list col-md-9 row">
            {# Test panier #}
            {% set fetcher = "" %}
            {% for article in articles %}

                {% if categ1 is not empty %}
                    {% set fetcher = categ1 %}
                {% elseif categ1 is empty %}
                    {% if categ2 is not empty %}
                        {% set fetcher = categ2 %}
                    {% else %}
                        {% set fetcher = "plats" %}
                    {% endif %}
                {% endif %}


                {% if article.cat1 == fetcher or article.cat2 == fetcher %}  <!--On cherche les plats dans la catégorie -->       
                    <div class="col-xs-12 col-md-4 my-auto">
                        <img src="{{ asset('img/articles/') ~ article.photo }}" alt="{{ article.artNom }}" title="{{ article.artNom }}" class="w-100">
                        <span class="nom_plat"><strong>{{ article.artNom }}</strong></span>
                        <div class="descri_plat">{{ article.descri }}</div>
                        <br />

                        <div class="d-flex justify-content-between">
                            <label for="qty">Quantité :</label>
                            <input id="qty" type="number" name="qty" value="0">
                        </div>

                        <div class="col-12 text-center p-2"><a href="{{ path('panier_add', {'id':article.id}) }}" class="btn btn-primary">Ajouter au panier</a></div>
                    </div>

 
                {% endif %}
            {% endfor %}

            {# /Test panier #}





        </div>
    </div>
</main>
<script src="{{ asset('js/dropdown.js') }}"></script>
 <!-- https://pokaa.fr/wp-content/uploads/2014/07/DSC_0506.jpg -->
{% endblock %}