{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

{% set categ = app.request.query.get("categ")  %}
<header>
    <div class="col-12 text-center">
        <h2>
            Nos 
            {% if categ is empty %} plats
            {% else %} {{app.request.query.get("categ")}}
            {% endif %}
        </h2>
    </div>
</header>

<main class="p-xs-0 p-md-5">
    <div class="row" id="page_carte">
        <div class="sidebar_pc col-md-3">
            <!-- faire une rq par cat, pour afficher la liste en dessus en scrolldown -->
            <button class="dropdown-btn">Nos plats<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catPlats %}
                    <a href="?categ={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
            </div>            
              <button class="dropdown-btn">Nos menus<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catMenus %}
                    <a href="?categ={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
            </div>
            <hr>
            <button class="dropdown-btn">Accomapgnements<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catAccompagnements %}
                    <a href="?categ={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
            </div>            
              <button class="dropdown-btn">Boissons<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catBoissons %}
                    <a href="?categ={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
            </div>
            <hr>
            <button class="dropdown-btn">Desserts<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                {% for elem in catDesserts %}
                    <a href="?categ={{ elem.cat2 }}">{{ elem.cat2|capitalize }}</a>
                {% endfor %}
            </div>
        </div> 

        <div class="sidebar_mobile">
            Sidebar version mobile
        </div>

        <div class="big_list col-md-9 row">
            <div class="col-xs-12 col-md-4 my-auto">
                <img src="https://pokaa.fr/wp-content/uploads/2014/07/DSC_0506.jpg" alt="lorem ipsum" title="lorem ipsum" class="w-100">
                <span class="nom_plat"><strong>Nom du plat</strong></span>
                <div class="descri_plat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, adipisci? Earum exercitationem pariatur eum saepe libero. Voluptatem suscipit ea fugiat provident veritatis animi repudiandae nesciunt, veniam debitis exercitationem recusandae itaque.</div>
                <br />

                <div class="d-flex justify-content-between">
                    <label for="qty">Quantité :</label>
                    <input id="qty" type="number" name="qty" value="0">
                </div>

                <div class="col-12 text-center p-2"><a href="#" class="btn btn-primary">Ajouter au panier</a></div>
            </div>
            <div class="col-xs-12 col-md-4 my-auto">
                <img src="https://pokaa.fr/wp-content/uploads/2014/07/DSC_0506.jpg" alt="lorem ipsum" title="lorem ipsum" class="w-100">
                <span class="nom_plat"><strong>Nom du plat</strong></span>
                <div class="descri_plat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, adipisci? Earum exercitationem pariatur eum saepe libero. Voluptatem suscipit ea fugiat provident veritatis animi repudiandae nesciunt, veniam debitis exercitationem recusandae itaque.</div>
                <br />

                <div class="d-flex justify-content-between">
                    <label for="qty">Quantité :</label>
                    <input id="qty" type="number" name="qty" value="0">
                </div>

                <div class="col-12 text-center p-2"><a href="#" class="btn btn-primary">Ajouter au panier</a></div>
            </div>
            <div class="col-xs-12 col-md-4 my-auto">
                <img src="https://pokaa.fr/wp-content/uploads/2014/07/DSC_0506.jpg" alt="lorem ipsum" title="lorem ipsum" class="w-100">
                <span class="nom_plat"><strong>Nom du plat</strong></span>
                <div class="descri_plat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, adipisci? Earum exercitationem pariatur eum saepe libero. Voluptatem suscipit ea fugiat provident veritatis animi repudiandae nesciunt, veniam debitis exercitationem recusandae itaque.</div>
                <br />

                <div class="d-flex justify-content-between">
                    <label for="qty">Quantité :</label>
                    <input id="qty" type="number" name="qty" value="0">
                </div>

                <div class="col-12 text-center p-2"><a href="#" class="btn btn-primary">Ajouter au panier</a></div>
            </div>



            {# Test panier #}

            {% for article in articles %}
            
            <div class="col-xs-12 col-md-4 my-auto">
                <img src="{{ asset('img/articles/') ~ article.photo }}" alt="{{ article.artNom }}" title="{{ article.artNom }}" class="w-100">
                <span class="nom_plat"><strong>{{ article.artNom }}</strong></span>
                <div class="descri_plat">{{ article.descri }}</div>
                <br />

                <div class="d-flex justify-content-between">
                    <label for="qty">Quantité :</label>
                    <input id="qty" type="number" name="qty" value="0">
                </div>

                <div class="col-12 text-center p-2"><a href="{{ path('panier_add', {'id':article.id}) }}" class="btn btn-primary">Ajouter au panier</a></div>
            </div>

            {% endfor %}

            {# /Test panier #}





        </div>
    </div>
</main>
<script src="{{ asset('js/dropdown.js') }}"></script>
 <!-- https://pokaa.fr/wp-content/uploads/2014/07/DSC_0506.jpg -->
{% endblock %}